
server {

    {{#multisite}}
    # Uncomment the following line for domain mapping
    # listen 80 default_server;
    {{/multisite}}

    server_name {{^vma}}{{^rc}}{{site_name}}{{/rc}}{{/vma}} {{#vma}}vma.*{{/vma}} {{#rc}}webmail.*{{/rc}} {{^vma}}{{^rc}}{{#multisite}}*{{/multisite}}{{^multisite}}www{{/multisite}}.{{site_name}}{{/rc}}{{/vma}};

    {{#multisite}}
    # Uncomment the following line for domain mapping
    #server_name_in_redirect off;
    {{/multisite}}

    access_log /var/log/nginx/{{site_name}}.access.log {{^ikredis}}{{^static}}rt_cache{{/static}}{{/ikredis}}{{#ikredis}}rt_cache_redis{{/ikredis}}; 
    error_log /var/log/nginx/{{site_name}}.error.log;

    {{#proxy}}
    add_header X-Proxy-Cache $upstream_cache_status;
    location / {
        proxy_pass http://{{host}}:{{port}};
        proxy_redirect      off;
        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
    }
    {{/proxy}}

    {{^proxy}}
    {{^vma}}{{^rc}}root {{webroot}}/htdocs;{{/rc}}{{/vma}}
    {{#vma}}root /var/www/22222/htdocs/vimbadmin/public;{{/vma}}
    {{#rc}}root /var/www/roundcubemail/htdocs/;{{/rc}}

    {{^proxy}}index {{^static}}index.php{{/static}} index.html index.htm;{{/proxy}}

    {{#static}}
    location / {
        try_files $uri $uri/ =404;
    }
    {{/static}}

    {{^static}}include {{^hhvm}}{{#basic}}common/php.conf;{{/basic}}{{#w3tc}}common/w3tc.conf;{{/w3tc}}{{#ikfc}}common/ikfc.conf;{{/ikfc}} {{#iksc}}common/iksc.conf;{{/iksc}}{{#ikredis}}common/redis.conf;{{/ikredis}} {{/hhvm}}{{#hhvm}}{{#basic}}common/php-hhvm.conf;{{/basic}}{{#w3tc}}common/w3tc-hhvm.conf;{{/w3tc}}{{#ikfc}}common/ikfc-hhvm.conf;{{/ikfc}} {{#iksc}}common/iksc-hhvm.conf;{{/iksc}}{{#ikredis}}common/redis-hhvm.conf;{{/ikredis}} {{/hhvm}}
    {{#iksubdir}}include common/iksubdir.conf;{{/iksubdir}}{{/static}}
    {{#ik}}include common/ikcommon.conf;{{/ik}}
    {{^proxy}}include common/locations.conf;{{/proxy}}
    {{^vma}}{{^rc}}include {{webroot}}/conf/nginx/*.conf;{{/rc}}{{/vma}}
    {{/proxy}}
}
